.metadata/
Lecture-Web/.settings/org.eclipse.wst.common.component
Lecture-Web/.settings/org.eclipse.wst.jsdt.ui.superType.name
Lecture-Web/.settings/org.eclipse.jdt.core.prefs
Lecture-Web/.settings/org.eclipse.wst.jsdt.ui.superType.container
Lecture-Web/.settings/.jsdtscope
Servers/
Lecture-Web/WebContent/html/playlist/Kalimba.mp3
Lecture-Web/WebContent/html/playlist/movie.mp4
Lecture-Web/WebContent/html/playlist/Wildlife.wmv
